/**************************************************************
 *          Mini Crystalline CSS for BeautifulDiscord         *
 *                                                            *
 * Found a bug / have a suggestion / want to leave a feedback?*
 *    Feel free to open an issue at the GitHub repository.    *
 *    Or, feel free to join my Discord Server linked below.   *
 *                 https://discord.gg/An6Yka5                 *
 *                    Thank you in advance!                   *
 *                                                            *
 *         MIT License, Copyright SamuiNe 2016 ~ 2017         *
 **************************************************************/

/* If the website is down, please use crystalline.css from the repository instead of this one. Thank you! */
@import 'https://aruchemi.st/crystalline/crystalline.css';

/* This file is for added convenience on editing elements on your own, this isn't necessary to use the css file. */
/* Put your custom CSS elements below this line~ */